.income-expenses-container {
    display: flex;
    margin-top: 32px;
    border: 1px solid white;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    align-items: center;
    background-color: white;
  }
  
  .income-expenses-column {
    text-align: center;
    margin: 0 20px;
  }
  
  .income-expenses-heading {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .income-expenses-divider {
    height: 50px;
    width: 1px;
    background-color: #ccc;
    margin: 0 20px;
  }

.income-expenses-amount {
  font-size: larger;
}

.income {
  color: #4caf50;
}

.expense {
  color: #e57373;
}

  h5 {
    margin: 0;
    padding: 0;
  }
  
  h4 {
    margin: 0;
    padding: 0;
  }
  